<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huang.order.dao.ProductCategoryDao">

    <select id="findOne" parameterType="Object" resultType="com.huang.order.domain.ProductCategory">
        SELECT * from product_category WHERE category_id = #{categoryId}
    </select>

    <insert id="save" parameterType="Object">
--         返回自增主键
        <selectKey keyProperty="categoryId" order="AFTER" resultType="INTEGER">
          SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO product_category(category_id,category_name,category_type)
        VALUES (#{categoryId},#{categoryName},#{categoryType})
    </insert>

    <update id="update" parameterType="Object">
        UPDATE product_category SET category_name = #{categoryName},category_type=#{categoryType}
        WHERE category_id = #{categoryId}
    </update>
    
    <select id="findList" parameterType="Object" resultType="com.huang.order.domain.ProductCategory">
        SELECT * from product_category WHERE category_type in
        <foreach collection="typeList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="findAll" parameterType="Object" resultType="com.huang.order.domain.ProductCategory">
        SELECT * FROM product_category
    </select>
</mapper>